!!! 5
html(lang="es")
	head
		title Admininistrador
		link( href != "{{ STATIC_URL }}css/normalize.css", rel="stylesheet")
		link( href != "{{ STATIC_URL }}css/base.css", rel="stylesheet")
	body
		header
			section#contenedorHeader
				section#iconosSociales
					ul
						li
							a(href="#")
								img(src != "{{ STATIC_URL }}img/you_btn.png", alt="Youtube")
						li
							a(href="#")
								img(src != "{{ STATIC_URL }}img/twit_btn.png", alt="Twiter")
						li
							a(href="#")
								img(src != "{{ STATIC_URL }}img/face_btn.png", alt="Facebook")
						li
							a(href="#")
								img(src != "{{ STATIC_URL }}img/mail_btn.png", alt="Mail")
				figure#logo
					a(href="#")
						img(src != "{{ STATIC_URL }}img/logo.png", alt="Logo Sv")
		section#contenedorAjax
			block content
		footer
			section#copyRight
				p New School´s. Todos los derechos reservados 2012
