<<<<<<< HEAD
doctype 5
html
    head
        title Primera plantilla Jade
        link( href != "{{ STATIC_URL }}css/base.css", rel="stylesheet")
    body
        h1  Nuestra primera plantilla Jade
        #contenedor
            block content
=======
!!! 5
html(lang="es")
	head
		title Bienvenido
		link( href != "{{ STATIC_URL }}css/normalize.css", rel="stylesheet")
		link( href != "{{ STATIC_URL }}css/base.css", rel="stylesheet")
	body
		header
			section#contenedorHeader
				section#iconosSociales
					ul
						li
							a(href="#")
								img(src != "{{ STATIC_URL }}img/you_btn.png", alt="Youtube")
						li
							a(href="#")
								img(src != "{{ STATIC_URL }}img/twit_btn.png", alt="Twiter")
						li
							a(href="#")
								img(src != "{{ STATIC_URL }}img/face_btn.png", alt="Facebook")
						li
							a(href="#")
								img(src != "{{ STATIC_URL }}img/mail_btn.png", alt="Mail")
				figure#logo
					a(href="#")
						img(src != "{{ STATIC_URL }}img/logo.png", alt="Logo Sv")
				section#menu
					nav
						ul
							li
								a(href="#") Inicio
							li
								a(href="#") Conocenos
							li
								a(href="#") Productos
							li
								a(href="#") Demos
							li
								a(href="#") Contactenos
		section#contenedorAjax
			block content
		footer
			section#copyRight
				p New School´s. Todos los derechos reservados 2012
	script(type="text/javascript", src !="{{ STATIC_URL }}js/jquery.js")
	script(type="text/javascript", src !="{{ STATIC_URL }}js/jquery.vegas.js")
	script(type="text/javascript", src !="{{ STATIC_URL }}js/funciones.js")>>>>>>> 0313948f474be30c1606c93f14930b204d3bbb92
