extends site_web/base
block content
	section#ContenedorLogin
		.contenedorUp
			p Tu voto decide 
				p¡Vota por la democracia!
		.contenedorDown
			form
				input(type="text", placeholder="Ingresa tu identificación")
				input(type="submit", value="Validar")