@import "base.styl"
h2
	color Azul
	font-size 1.8em
	font-weight 300
	text-align center
	text-transform uppercase
alinear()
	display inline-block
	vertical-align top
#ayudaVideo
	display block
	margin 0 auto .5em
	width 80%
	figure
		alinear()
		margin-right .25em
		width 20%
	p
		alinear()
		color Azul
		font-size 1.3em
		font-weight 300
		line-height 1
		text-align center
		text-decoration none
		width 76%
#simboloInst
	display block
	margin 0 auto .5em
	width 80%
	img
		width 100%
#salir
	display block
.fila
	alinear()
	width 100%
.contenedorDerecha
	alinear()
	width 68%
.contenedorIzquierda
	alinear()
	width 20%